@page
@model DemoApp.Client.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <title>DemoApp - Client</title>
    </head>
    <body>
        <h1>Welcome Visitor</h1>
        <form method="POST">
            <p>
                <b>Name: </b>
                <input type="text" asp-for="Input.Name" required="required"/>
                <input type="submit" name="operation" value="Read"/>
            </p>
            <p>
                @if(Model.Output != null)
                {
                    <b>Comment: </b><i>@Model.Output</i>
                }
            </p>
            <p>
                <b>New Comment</b><br/>
                <textarea asp-for="Input.Comment"></textarea><br/>
                <input type="submit" name="operation" value="Write"/>
            </p>
        </form>
        <p>
            <a href="list.html">All Feedbacks</a>
        </p>
    </body>
</html>
