@page "/greeter"
@inherits DemoApp.Components.Pages.GreeterBase
<h1>Hello @VisitorName</h1>
<p>
    <b>Your Name: </b>
    <input required="required" bind="@VisitorName"/>
    <button onclick="@GenerateToken">Generate</button>
</p>
<p>@TokenMessage</p>

