@page "/greeter"
@layout Master
@inherits DemoApp.Components.Pages.GreeterBase
<p>
    <b>Your Name: </b>
    <input required="required" bind="@VisitorName"/>
    <button onclick="@CountAndGreet">Greet</button>
</p>
