@page "/greeter"
@inherits DemoApp.Components.Pages.GreeterBase
<h1>Welcome @Visitor</h1>
<p>
    <b>Your Name: </b>
    <input required="required" bind="@NameInput"/>
    <button onclick="@UpdateOutput">Count</button>
</p>
<p>@Message</p>
