@{
	var visitor = ViewContext.RouteData.Values["name"];
}
<!DOCTYPE html>
<html>
	<head>
		<title>DemoApp</title>
	</head>
	<body>
		<h1>Hello @visitor</h1>
		<h3>Other Visitors</h3>
		<ul>
			@foreach(var item in ViewBag.Others)
			{
				<li><a href="/Count/@item">@item</a></li>
			}
		</ul>
	</body>
</html>

