@page "{*clientPath}"

<!DOCTYPE html>
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <app>@(await Html.RenderComponentAsync<DemoApp.Components.App>())</app>
        <script src="_framework/components.server.js"></script>
        <script>
            window.indexStatus = {
                update: function(info){
                    document.getElementById("statusOutput").innerText = info;
                }
            };            
        </script>
        <p id="statusOutput"></p>
    </body>
</html>
