@page
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <app>@(await Html.RenderComponentAsync<DemoApp.Components.Pages.Index>())</app>
        <script src="_framework/components.server.js"></script>
        <script>
            window.hostPage = {
                updateElement: function(elementId, textValue){
                    var tag = document.getElementById(elementId);
                    if(tag){
                        tag.innerText = textValue;
                        return true;
                    }
                    return false;
                }
            };            
        </script>
        <p id="statusOutput"></p>
    </body>
</html>
